body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-2xs: 11px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-mini: 15px;
    --font-size-mid: 17px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-darkgray-100: #afafaf;
    --color-lightseagreen: #32b1a2;
    --color-dimgray-100: #6d6d6d;
    --color-dimgray-200: #575757;
    --color-dimgray-300: #565656;
    --color-gray-100: rgba(255, 255, 255, 0.83);
  
    /* Gaps */
    --gap-3xs: 10px;
  
    /* Border radiuses */
    --br-11xs: 2px;
    --br-3xs: 10px;
    --br-xs: 12px;
    --br-8xs: 5px;
  }
  